<!--Body-->

<div class="card-body text-primary" style="margin-top: 80px;">

</div>

<div class="jumbotron">
    <label style="font-size: 50px;"> <b>ORDER RECIEPT</b></label>
    <div class="row">

        <div class="col">

            <div class="img-thumbnail">
                <img src="./assests/boroplus.jpg" style="height: 30%; width: 20%;"/>
                <label style="font-size: 25px;"> <b>Price: INR. 80.00 (Inclusive of all taxes)<p>This product cannot be returned for a refund or exchange.
                    * Mkt: Emami Ltd
                    * Country of Origin: India
                    * Delivery charges if applicable will be applied at checkout </p></b></label>

            </div>

        </div>

    </div>

</div>

<!--Footer-->

<div class="card-footer bg-transparent border-info">
    @Copyright 2022 Prepared By: Himanshi Singh
</div>