<!--Body-->

<div class="card-body text-primary" style="margin-top: 50px;">
    
</div>

<label style="font-size: 50px;"> <b>IODEX</b></label>
<div class="left">
   <img src="https://cdn01.pharmeasy.in/dam/products_otc/I02652/iodex-pain-relief-balm-16-gm-2-1655542888.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Buy IODEX PAIN RELIEF BALM 16 GM Online &amp; Get Upto 60% OFF at PharmEasy" data-noaft="1" style="width: 306.596px; height: 219px; margin: 0px;">
 </div>
 <div class="col">
   
    <label style="font-size: 20px;"> <b>Pain Balm: </b>Iodex Body Pain Expert</label><br>
    <label style="font-size: 20px;"> <b>Quantity: </b>16gm Jar</label><br>
    <label style="font-size: 30px;"> <b>Price: </b><span>&#8377;</span> 84.00 </label><br>
    <p class="PdpWeb_stockInfo__j5lw0 PdpWeb_inStock__2auaK">In Stock</p></div>
    
    <div class="col">
      <label style="font-size: 20px;"> <b>Product Details: </b></label><br>
      <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i>32gm</button>    
          
      <button type="button" class="btn btn-secondary" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i>64gm</button>   <br> 
          
      <button type="button" class="btn btn-info" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i>128gm </button> 

      <button type="button" class="btn btn-success" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> family pack</button> 
  </div>

 <!--Footer-->

 <div class="card-footer bg-transparent border-info">
    @Copyright 2022 prepared By: Himanshi Singh
 </div>